html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 400px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 400px;
  font-family: arial, sans-serif;
  font-size: 14px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px;
  height: 60px;
}

.nav-bar {
  display: inline-block;
  flex-grow: 1;
}

.nav-links {
  font-size: small;
  display: flex;
  float: right;
  padding-right: 10px;
}

.nav-spacing {
  margin-left: 15px;
}

.sign-in {
  cursor: pointer;
  color: white;
  text-decoration: none;
  background: #1a73e8;
  border: 1px solid transparent;
  text-align: center;
  padding: 9px 25px;
  border-radius: 4px;
  font-size: 14px;
}

.sign-in:hover {
  text-decoration: none;
  background: #2d7ee7;
}

footer {
  font-size: 14px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px;
}

.footer-border {
  font-size: 15px;
  color: #70757a;
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.footer-bar {
  padding: 11px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links {
  color: #70757a;
  padding: 15px;
}

input {
  width: 580px;
  height: 40px;
  border: 1px solid #dfe1e5;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
}

.google {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button1 {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  width: 125px;
  height: 40px;
}

.button2 {
  margin-left: 10px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  font-size: 14px;
  width: 140px;
  height: 40px;
}

button:hover {
  border: 1px solid #b6b6b6;
  box-shadow: 0 2px 2px -2px #8d8d8d;
}

.buttons {
  position: fixed;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.language-link {
  color: #1a0dab;
}

.language-offering {
  font-size: small;
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}